.login-wrapper{
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  .heading{
    text-align: center;
  }
  .login-form{
    width: 30%;
    @media screen and (max-width: 786px) {
      width: 80%;
    }
  }
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.error-message{
  line-height: 0px;
  color: red;
  font-style: italic;
}